@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  background-color: #FBF8CC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}


.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;

}

.name{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 23px;
  line-height: 36px;
  color: #03045E;
  width: 10vw;
  font-weight: bolder;
  padding-top: 15px;
}

.navBar1{
  display: flex;
  width: 30vw;
  justify-content: space-around;
}

.navBar1 a{
  text-decoration: none;
  color: Dark #03045E;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}

.navBar2{
  display: flex;
  width: 10vw;
  justify-content: space-around;
}


.navItem a:hover{
  text-decoration: underline;
}

.header ul {
  list-style-type: none;
}

.navBar1 a:hover{
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}

.active2{
  color:black
}